/* Contenedor principal del chat */
.serenai-chat-container {
    border: 8px solid #19D8B6; /* Borde turquesa */
    border-radius: 20px; /* Bordes redondeados */
    padding: 15px 10px; /* Padding interno */
    background-color: #ffffff; /* Fondo blanco */
    width: 95%; /* Ancho ajustado para mayor visibilidad */
    max-width: 800px; /* Ancho máximo para mejor adaptación */
    margin: 20px auto; /* Centralizado en la página */
    box-sizing: border-box; /* Incluye padding y borde en el ancho total */
}

/* Área donde se muestran los mensajes */
.serenai-chat-messages {
    max-height: 450px; /* Altura máxima antes de comenzar a desplazar */
    overflow-y: auto; /* Permitir desplazamiento */
    background-color: #f0f0f0; /* Fondo gris claro para el área de mensajes */
    border-radius: 15px; /* Bordes redondeados */
    padding: 10px; /* Espaciado interno */
    margin-bottom: 10px; /* Espacio antes del área de entrada */
}

/* Estilos para mensajes de AI y usuario */
.serenai-chat-message {
    background: #BBF6DB; /* Fondo para mensajes de AI */
    color: #333; /* Color del texto oscuro para mejor visibilidad */
    padding: 8px 16px; /* Acolchado para los mensajes */
    margin-bottom: 4px; /* Espacio entre mensajes */
    border-radius: 12px; /* Bordes redondeados para los mensajes */
    display: flex; /* Uso de Flexbox para estructurar elementos */
    align-items: center; /* Centrado vertical de los elementos internos */
}

/* Mensajes del usuario diferenciados */
.serenai-user-message {
    background: #d6b7f9; /* Fondo lila para mensajes del usuario */
    justify-content: flex-end; /* Alinear mensajes a la derecha */
    text-align: right; /* Alineación del texto a la derecha */
}

/* Área de entrada de mensajes */
.write-message {
    display: flex; /* Uso de Flexbox para la disposición */
    gap: 10px; /* Espacio entre elementos */
    padding: 10px 0; /* Padding vertical */
}

.write-message input, .write-message button {
    flex-grow: 1; /* El input y el botón crecen para llenar el espacio */
    border-radius: 25px; /* Bordes redondeados */
    padding: 10px; /* Padding interno */
}

.write-message button {
    background: #864499; /* Fondo morado para el botón */
    color: white; /* Texto blanco */
    cursor: pointer; /* Cursor de mano para indicar que es clickeable */
}
