/* Base styles for chat container */
.chat-container {
    width: 100%; /* Responsive width */
    max-width: 1250px; /* Adjusted width from your design */
    height: 574px; /* Adjusted height from your design */
    margin: 20px auto;
    border: 8px solid #19D8B6;
    border-radius: 20px;
    background-color: #FFF;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
}

.chat-messages {
    flex-grow: 1;
    overflow-y: auto;
    background-color: transparent; /* Corrected to 'transparent' instead of 'none' */
    border-radius: 15px;
    font-family: 'Montaser Arabic', sans-serif;
    padding: 10px;
    margin: 10px;
}

/* General message styling */
.chat-message {
    display: block; /* Ensure messages display as block for proper stacking */
    clear: both; /* Clear floats */
    padding: 8px 16px;
    margin-bottom: 4px;
    border-radius: 12px;
    width: auto; /* Auto width based on content */
}

/* Specific styling for other users' messages */
.ai-message {
    background-color: #BBF6DB;
    text-align: left; /* Align text left for other users */
    float: left; /* Float left */
    font-family: 'Montaser Arabic', sans-serif;
    max-width: 60%; /* Limit width to prevent full width stretching */
}

/* Specific styling for user messages */
.user-message {
    background-color: #d6b7f9; /* Color for user messages */
    text-align: right; /* Align text right for the user */
    float: right; /* Float right */
    font-family: 'Montaser Arabic', sans-serif;
    max-width: 60%; /* Limit width to prevent full width stretching */
}

.no-messages {
    text-align: center;
    color: #888;
}

.message-input {
    display: flex;
    padding: 10px;
    align-items: center;
    font-family: 'Montaser Arabic', sans-serif; 
    gap: 10px; /* Adds space between the input field and the send button */
    width: 100%; /* Ensure the input field and button take the full width of the container */
}

.input-message {
    flex-grow: 1; /* Allows the input field to take up all available space */
    border: 2px solid white; /* Adds border to make the input field distinct, adjust color as necessary */
    border-radius: 25px;
    padding: 8px 16px;
    background-color: #19D8B6;
}

.send-button {
    flex-shrink: 0; /* Prevent the button from shrinking */
    min-width: 100px; /* Ensures the send button has a reasonable width */
    padding: 8px 16px;
    background-color: #864499;
    font-family: 'Montaser Arabic', sans-serif;
    color: white;
    border-radius: 25px;
    border: none; /* Removes border if present */
    cursor: pointer;
}

/* Responsive adjustments */
@media (max-width: 768px) {
    .chat-container {
        height: auto; /* Make height dynamic */
    }

    .chat-messages {
        height: 400px; /* Adjusted height for smaller screens */
    }

    .chat-message {
        max-width: 75%; /* Increase width on small screens for better visibility */
    }
}
