/* Mobile Layout: 320px */
@media only screen and (max-width: 767px) {
    .main-header .logo-sec img {
        width: 100px;
    }
    .header-auth .login-btn {
        padding: 5px 20px;
        font-size: 14px;
    }
    .header-auth .signup-btn {
        padding: 5px 20px;
        font-size: 14px;
        margin-left: 8px;
    }
    .signup-continue-btn h2 {
        margin-bottom: 0;
    }
    .write-message .mess-send-btn {
        padding: 8px 30px;
        font-size: 28px;
        line-height: 25px;
    }
    .write-message .write-message-input {
        font-size: 20px;
    }

    /* Ajustar el formulario de registro y login */
    .signup-continue-container, .login-continue-container {
        margin-top: 20px; /* Espacio entre el formulario y el botón "Continuar" */
        order: 2; /* Asegurar que el botón "Continuar" esté debajo del formulario */
        width: 100%; /* Asegurar que el botón ocupe todo el ancho del contenedor */
        display: flex;
        justify-content: center;
    }

    .signup-form-container, .login-form-container {
        order: 1; /* Asegurar que el formulario esté arriba del botón "Continuar" */
    }

    .signup-logo-img, .login-logo-img {
        display: none; /* Ocultar la imagen en pantallas pequeñas */
    }

    .submit-btn, .submit-btn-login {
        width: 100%; /* Asegurar que el botón ocupe todo el ancho en pantallas pequeñas */
    }
}
