{% extends "base.html" %}
{% load static %}

{% block title %} Biblioteca - SerenAI {% endblock title %}

{% block main %}
<section class="section-padding">
    <div class="container">
        <div class="row">
            <div class="col-12 text-center">
                <h2>Libros recomendados</h2>
            </div>
            <div class="col-12">
                <div id="bookCarousel" class="carousel slide" data-bs-ride="carousel">
                    <div class="carousel-inner">
                        {% for book in books %}
                        <div class="carousel-item {% if forloop.first %}active{% endif %}">
                            <div class="d-flex justify-content-center">
                                {% if book.book_url %}
                                <a href="{{ book.book_url }}" target="_blank">
                                {% endif %}
                                    {% if book.cover_image %}
                                    <img src="{{ book.cover_image.url }}" class="d-block rounded mx-2" alt="{{ book.title }}" style="width: 150px; height: 200px;">
                                    {% else %}
                                    <img src="{% static 'default_cover.jpg' %}" class="d-block rounded mx-2" alt="{{ book.title }}" style="width: 150px; height: 200px;">
                                    {% endif %}
                                {% if book.book_url %}
                                </a>
                                {% endif %}
                            </div>
                            <div class="text-center mt-2">
                                <h5>{{ book.title }}</h5>
                                <p>{{ book.author }}</p>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                    <button class="carousel-control-prev" type="button" data-bs-target="#bookCarousel" data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#bookCarousel" data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                    </button>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock main %}
