{% extends 'base.html' %}
{% load static %}

{% block title %}Estado Emocional - SerenAI{% endblock %}

{% block headerTitle %}
	<div class="page-title d-none d-md-block">
		<h2>Estado Emocional</h2>
	</div>
{% endblock headerTitle %}

{% block main %}
<div class="emotional-state-container">
    <div class="main-content">
        <div class="calendar-section">
            <img src="{% static 'images/calendar.png' %}" alt="Calendar Icon" class="calendar-icon">
        </div>
        <div class="recommendation-section">
            <h2>Recomendacion de Actividad</h2>
            <div class="activity-recommendation" id="activity-recommendation" onclick="showActivityDetails('{{ activity }}', `{{ details|escapejs }}`)">
                {{ activity }}
            </div>
        </div>
    </div>
    <div class="emotional-buttons-carousel-container">
        <div class="emotional-buttons-carousel">
            <button class="emotion-button joy">Alegría</button>
            <button class="emotion-button sadness">Tristeza</button>
            <button class="emotion-button anger">Furia</button>
            <button class="emotion-button disgust">Desagrado</button>
            <button class="emotion-button fear">Miedo</button>
            <button class="emotion-button surprise">Sorpresa</button>
            <button class="emotion-button calm">Calma</button>
            <button class="emotion-button anxiety">Ansiedad</button>
            <button class="emotion-button love">Amor</button>
        </div>
    </div>
</div>

<!-- Modal for activity details -->
<div id="activityModal" class="modal">
    <div class="modal-content">
        <span class="close" onclick="closeModal()">&times;</span>
        <h2 id="modal-activity-name"></h2>
        <p id="modal-activity-details"></p>
    </div>
</div>

<script>
function showActivityDetails(activityName, activityDetails) {
    document.getElementById('modal-activity-name').innerText = activityName;
    document.getElementById('modal-activity-details').innerText = activityDetails.replace(/\\n/g, '\n');
    document.getElementById('activityModal').style.display = "block";
}

function closeModal() {
    document.getElementById('activityModal').style.display = "none";
}
</script>
{% endblock main %}
