{% extends "base.html" %}
{% load static %}

{% block title %}Chat General - SerenAI{% endblock %}

{% block main %}
<div class="chat-container">
    <div class="chat-header">
        <h2>Foro</h2>
    </div>
    <div class="chat-messages">
        {% for message in messages %}
        <div class="chat-message {% if message.user == request.user %}user-message{% else %}ai-message{% endif %}">
            <p>{{ message.message }}</p>
        </div>
        {% empty %}
        <p class="no-messages">No hay mensajes aún.</p>
        {% endfor %}
    </div>
    <div class="message-input">
        <form method="post">
            {% csrf_token %}
            <input type="text" name="message" class="input-message" placeholder="Escribe un mensaje...">
            <button type="submit" class="send-button">Enviar</button>
        </form>
    </div>
</div>
{% endblock main %}
