{% extends "base.html" %}
{% load static %}

{% block title %} Login - SerenAI {% endblock title %}

{% block main %}

<section class="section-padding">
    <div class="container">
        <form method="POST">
            {% csrf_token %}
            <div class="row position-relative">
                <div class="col-md-7 order-1 order-md-0 mt-3 mt-md-0 login-form-container">
                    <div class="auth-form me-0 me-md-5">
                        {% if error_message %}
                        <div class="alert alert-danger alert-dismissible fade show" role="alert">
                            <h2 class="password-error">{{ error_message }}</h2>
                            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                        </div>
                        {% endif %}
                        <div class="bubble-button">
                            <span>Iniciar Sesion</span>
                        </div>
                        <div class="login-form">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="single-input">
                                        <label for="username">Usuario</label>
                                        <input type="text" name="username" id="username" required>
                                    </div>
                                    <div class="single-input">
                                        <label for="password">Contraseña</label>
                                        <input type="password" name="password" id="password" required>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-5 d-flex flex-column align-items-center justify-content-center order-2 order-md-1 login-continue-container">
                    <div class="signup-continue-btn">
                        <button type="submit" class="submit-btn-login">Continuar</button>
                    </div>
                    <div class="login-logo-img mt-3">
                        <img src="{% static 'images/logo.png' %}" alt="Logo">
                    </div>
                </div>
            </div>
        </form>
    </div>
</section>

{% endblock main %}