{% extends "base.html" %}
{% load static %}

{% block title %} Signup - SerenAI {% endblock title %}

{% block main %}
	<section class="section-padding">
		<div class="container">
			<form method="post" action="">
				{% csrf_token %}
				<div class="row position-relative">
					<div class="col-md-7 order-1 order-md-0 mt-5 mt-md-0">
						<div class="auth-form me-0 me-md-5"> 
							{% if error_message %}
								<div class="alert alert-danger alert-dismissible fade show" role="alert">
									<h2 class="password-error">{{ error_message }}</h2>
									<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
								</div>
							{% endif %}
							<div class="signup-form">
								<div class="row">
									<div class="col-md-6">
										<div class="single-input">
											<label for="">Name</label>
											<input type="text" name="name" id="" required>
										</div>
									</div>
									<div class="col-md-6">
										<div class="single-input">
											<label for="">Surnames</label>
											<input type="text" name="surname" id="" required>
										</div>
									</div>
									<div class="col-md-6">
										<div class="single-input">
											<label for="">Birthday</label>
											<input type="date" name="date_of_birth" id="" required>
										</div>
									</div>
									<div class="col-md-6">
										<div class="single-input">
											<label for="">Gender</label>
											<select name="gender" id="" required>
												<option value="male">Male</option>
												<option value="female">Female</option>
											</select>
										</div>
									</div>
									<div class="col-md-6">
										<div class="single-input">
											<label for="">Nickname</label>
											<input type="text" name="username" id="" required>
										</div>
									</div>
									<div class="col-md-6">
										<div class="single-input">
											<label for="">Email</label>
											<input type="email" name="email" id="" required>
										</div>
									</div>
									<div class="col-md-6">
										<div class="single-input">
											<label for="">Password</label>
											<input type="password" name="password" id="" required>
										</div>
										<div class="single-input">
											<label for="">Confirm Password</label>
											<input type="password" name="password2" id="" required>
										</div>
									</div>
									<div class="col-md-6 d-block d-md-none d-flex justify-content-end mt-4">
										<button type="submit" class="submit-btn-2">Continue</button>
									</div>
									<div class="col-md-6 d-none d-md-block">
										<div class="signup-logo-img">
											<img src="{% static 'images/logo.jpg' %}" alt="">
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="col-md-5 d-flex align-items-center justify-content-center order-0 order-md-1">
						<div class="signup-continue-btn">
							<h2>Sign-up</h2>
							<button type="submit" class="submit-btn d-none d-md-block">Continue</button>
						</div>
					</div>
				</div>
			</form>
		</div>
	</section>

{% endblock main %}