{% extends "base.html" %}
{% load static %}

{% block title %} Servicio - SerenAI {% endblock title %}

{% block extrahead %}
<link rel="stylesheet" href="{% static 'css/servicio.css' %}">
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
$(document).ready(function() {
    function fetchMessages() {
        $.ajax({
            url: '{% url "fetch_messages" %}',
            type: 'GET',
            success: function(data) {
                $('#user-messages').html('');
                data.forEach(function(message) {
                    $('#user-messages').append('<div class="message"><p><strong>' + message.user + ':</strong> ' + message.text + '</p><p><strong>Respuesta:</strong> ' + (message.response || 'N/A') + '</p><textarea class="response-input" data-message-id="' + message.id + '"></textarea><button class="send-response-btn" data-message-id="' + message.id + '">Responder</button></div>');
                });
                $('.send-response-btn').on('click', function() {
                    var messageId = $(this).data('message-id');
                    var responseText = $(this).siblings('.response-input').val();
                    $.ajax({
                        url: '{% url "send_response" %}',
                        type: 'POST',
                        data: {
                            'message_id': messageId,
                            'response': responseText,
                            'csrfmiddlewaretoken': '{{ csrf_token }}'
                        },
                        success: function(response) {
                            if (response.status == 'success') {
                                fetchMessages();
                            } else {
                                console.error(response.error);
                            }
                        },
                        error: function(xhr, status, error) {
                            console.error('Server error:', error);
                        }
                    });
                });
            }
        });
    }

    fetchMessages();
});
</script>
{% endblock extrahead %}

{% block headerTitle %}
    <div class="page-title d-none d-md-block">
        <h2>Servicio a Cliente</h2>
    </div>
{% endblock headerTitle %}

{% block main %}
<main class="servicio-main">
    <section class="servicio-admin-section">
        <h2>Mensajes de Usuarios</h2>
        <div id="user-messages" class="user-messages servicio-messages">
            <!-- Lista de mensajes de usuarios -->
        </div>
    </section>
</main>
{% endblock main %}
