{% extends "base.html" %}
{% load static %}

{% block title %} Servicio - SerenAI {% endblock title %}

{% block headerTitle %}
    <div class="page-title d-none d-md-block">
        <h2>Servicio a Cliente</h2>
    </div>
{% endblock headerTitle %}

{% block main %}
<main class="servicio-main">
    <section class="servicio-admin-section">
        <h2>Mensajes de Usuarios</h2>
        <div class="user-messages servicio-messages">
            <!-- Lista de mensajes de usuarios -->
        </div>
    </section>
</main>
{% endblock main %}
